*{ margin: 0; padding: 0;  box-sizing: border-box;}

body{ background-color: rgba(164, 177, 190, 0.63) ; }

.horizontal_slider{
display: block;
width: 100%;
overflow-y: scroll;
margin-top: 100px;
padding: 20px;
box-sizing: border-box;
background-color: steelblue;
} 

/*  chrome / firefox / opera / safira  */
.horizontal_slider::-webkit-scrollbar{
    display: none;
}
.horizontal_slider {
-ms-overflow-style: none;
}

.slider_container{
display: block;
white-space: nowrap;
}

.item{
display: inline-block;
margin-right: 1rem;
}

.item img{
width: 250px;
height: 300px;
object-fit: cover;

}